output/ccn/*.json merge=ours
output/code-travail/*.json merge=ours
output/code-secu/*.json merge=ours
output/cgfp/*.json merge=ours
output/code-civil-travail/*.json merge=ours
output/code-penal-travail/*.json merge=ours
output/intl/textes-eurlex/*.json merge=ours
output/intl/textes-cjue/*.json merge=ours
